body {
  background:linear-gradient(to bottom, black,#555555) no-repeat center center fixed;

  background-size:cover;
  margin-top:80px;
}

a.menu {
  background-color:black;
  font-size:20px;
  color:white;
  text-decoration: none;

  padding:15px 20px;

  transition: background-color 0.2s;
}
a.menu:hover {
  background-color:gray;
}
#gshsmark{
  display:inline;
  float:left;
  margin-right:20px;
  height:55px;
}
#gshsx {
  position:fixed;
  top:5px;
  left:0px;
  width:100%;
  height:57px;
  background-color:#111111;
  border-bottom:1px solid white;
}
#menubtn{
  display:table-cell;
  height:55px;
  vertical-align: middle;

}

h1,h2,p {
  color:white;
}

a.url {
  color:white;
  text-decoration:none;
}
img.url {
  width:90%;
  height:auto;
}
p.url {
  display:inline-block;
  vertical-align: bottom 0px;
}
table{
  border-collapse:collapse;
}
th.url {
  border: 1px solid #FFFFFF;

}

img.gallery {
  width:80%;
  height:auto;


}

.intro{
  color: #ffffff;
  font-family: courier;
  font-size: 40px;
  text-align: center;
}
.intro2{
  color: #ffffff;
  font-family: courier;
  font-size: 15px;
  text-align: center;
}
h2{
  color: #ffffff;
  font-family: courier;
  font-size: 25px;
  text-align: center;
}
td.abc{
  width: 500px;
  border: 1px solid #FFFFFF;
}
td.def{
  width: 300px;
  border: 1px solid #FFFFFF;
}
td.ghj{
  border: 1px solid #FFFFFF;
}

a.course {
  color : white;
  transition: 0.2s;
  text-decoration: none;
  font-size:20px;
}
a.course:hover {
  color:gray;
}
