.nameBox {
  border:2px solid white;
  display:inline-block;
  padding:10px;
  cursor:pointer;
  line-height:120%;
  transition:0.2s;
  /* float:left; */
  width:25%;
  height: 150px;
  margin:0;
}
.nameBox:hover{
  background-color:white;
  color:black;
  transition:0.2s;
}

.clear{
  clear:both;
}

#NameContainer {
  max-width: 1350px;
  min-width: 650px;
  width:60%;
  margin:auto;
  text-align:center;
  user-select:none;
}

#MainNameBox {
  border:20px ridge white;
  
  line-height:120%;
  text-align: center;

}
#subNameBox {
  border:20px groove white;
  height:100px;
  line-height:120%;
  margin-left:5px;
  margin-right:5px;
  margin-bottom:10px;
}
.subName{
  font-family:'Nanum Gothic', sans-serif;
}

h3.Name {
  font-family:Copperplate, 'Copperplate Gothic Light', 'Copperplate Gothic Bold', sans-serif;
  text-align:center;
  line-height:80%;
}

.introduceP{
    color: #ffffff;
    font-family: courier;
    font-size: 15px;
    text-align: left;
    margin-left:10px;
}

h2.Name{
  color:black;
}
.profileImage{
  width:100px;
  float:left;
  
  margin:0 auto;
  position: static;
}
.profileImage:hover{
  filter:opacity(80%);
}