#popupHider{
    visibility: hidden;
    opacity: 0;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:99;
    background-color: #000000BB;
}

.visible#popupHider{
    visibility:visible;
    opacity:1;
    transition: opacity 0.5s;
}
.invisible#popupHider{
    opacity:0;
    transition:opacity 0.5s;
    animation:fadeOut 0.5s;
    pointer-events: none;
}
.popup{
    position:fixed;
    left:50%;
    top:500px;
    background-color: white;
    border-radius: 5px;
    z-index:100;
    user-select: text;
    display:block;
    width:800px;
    height:500px;
    overflow:scroll;
    margin-left:-400px;
    margin-top:150px;
    padding:20px;
    opacity:0;
    visibility:hidden;

    scrollbar-color:white;
    scrollbar-base-color: aqua;
}

.visible.popup{
    visibility:visible;
    opacity:1;
    top:0px;

    transition:opacity 0.5s,top 0.5s;
    /* animation:fadeIn 0.5s, goUp 0.5s; */
    
}

.invisible.popup{
    opacity:0;
    top:200px;
    transition: opacity 0.5s, top 0.5s;
    pointer-events: none;
    animation:fadeOut 0.5s;
}
.popup p{
    color:black;
    z-index:1;
    font-size:20px;
}

@keyframes fadeIn{
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


@keyframes fadeOut{
    from {
        visibility:visible;
    }
    to {
        visibility:hidden;
    }
}

@keyframes goUp{
    from{
        top:500px;
    }
    to{
        top:200px;
    }
}

@keyframes goDown{
    from{
        top:200px;
    }
    to{
        top:500px;
    }
}